<h5>{{ title }}</h5>
<div class="row">
  <form class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <table cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <div class="input-field col s12">
            <md-select placeholder="Type" [(ngModel)]="refData.type" formControlName="type" size="30">
                <md-option *ngFor="let type of types" [value]="type.value" [disabled]="type.disabled">
                  {{ type.viewValue }}
                </md-option>
          </md-select>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="description" type="text" class="validate"
                   [(ngModel)]="refData.description" formControlName="description"
                   [class.invalid]="form.controls['description'].touched && !form.controls['description'].valid"
            >
            <label for="description"
                   [class.active]="refData.description"
                   data-error="Description is Required">
              Description
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <textarea [(ngModel)]="refData.metaDataChunk" formControlName="metaDataChunk">
            </textarea>
            <label for="metaDataChunk"
                   [class.active]="refData.metaDataChunk">
              Metadata
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
    </table>


    <p></p>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
