<h5>{{ title }}</h5>
<div class="row">
  <form class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <table cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <div class="input-field col s12">
            <md-input-container floatPlaceholder="never">
              <input mdInput [mdAutocomplete]="reactiveAuto" [formControl]="stateCtrl" [(ngModel)]="donation.cause" 
              [class.invalid]="causeInvalid()" (blur)="causeTouched = true"
              formControlName="cause" size="30">
              <label for="cause"
                   [class.active]="donation.cause">
                Cause
              </label>
              <div *ngIf="causeInvalid()" style="color: red">Please select a value</div>
            </md-input-container>

            <md-autocomplete #reactiveAuto="mdAutocomplete" [displayWith]="displayFn">
              <md-option *ngFor="let causeVal of filteredCauses | async" [value]="causeVal">
                <span>{{ causeVal.description }}</span>
              </md-option>
            </md-autocomplete>

          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="description" type="text" class="validate"
                   [(ngModel)]="donation.description" formControlName="description"
                   [class.invalid]="form.controls['description'].touched && !form.controls['description'].valid"
            >
            <label for="description"
                   [class.active]="donation.description"
                   data-error="Description is Required">
              Description
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12" id="dueDateDiv">
            <md-input-container>
              <input mdInput [mdDatepicker]="dueDatePicker" [(ngModel)]="donation.dueDateString" formControlName="dueDateString">
              <button mdSuffix [mdDatepickerToggle]="dueDatePicker"></button>
            </md-input-container>
            <md-datepicker #dueDatePicker></md-datepicker>

            <label for="dueDateString"
                   [class.active]="donation.dueDateString"
                   data-error="Due Date is required">
              Due Date
            </label>
          </div>
          <div class="input-field col s12">

          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>          
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="notes" type="text" class="validate"
                   [(ngModel)]="donation.notes" formControlName="notes" />
            <label for="notes"
                   [class.active]="donation.notes">
              Notes
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">

          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>      
    </table>


    <p></p>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
