<h5>{{ title }}</h5>
<div class="row">
  <form class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <table cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <div class="input-field col s12">
            <mat-form-field floatPlaceholder="never">
              <input matInput [matAutocomplete]="reactiveAuto" [formControl]="stateCtrl" [(ngModel)]="donation.cause" 
              [class.invalid]="causeInvalid()" (blur)="causeTouched = true"
              formControlName="cause" size="30">
              <label for="cause"
                   [class.active]="donation.cause">
                Cause
              </label>
              <div *ngIf="causeInvalid()" style="color: red">Please select a value</div>
            </mat-form-field>

            <mat-autocomplete #reactiveAuto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let causeVal of filteredCauses | async" [value]="causeVal">
                <span>{{ causeVal.description }}</span>
              </mat-option>
            </mat-autocomplete>

          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="description" type="text" class="validate"
                   [(ngModel)]="donation.description" formControlName="description"
                   [class.invalid]="form.controls['description'].touched && !form.controls['description'].valid"
            >
            <label for="description"
                   [class.active]="donation.description"
                   data-error="Description is Required">
              Description
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12" id="dueDateDiv">
            <mat-form-field>
              <input matInput [matDatepicker]="dueDatePicker" [(ngModel)]="dueDate" formControlName="dueDateField">
              <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #dueDatePicker></mat-datepicker>

            <label for="dueDate"
                   [class.active]="dueDate"
                   data-error="Due Date is required">
              Due Date
            </label>
          </div>
          <div class="input-field col s12">

          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>          
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="notes" type="text" class="validate"
                   [(ngModel)]="donation.notes" formControlName="notes" />
            <label for="notes"
                   [class.active]="donation.notes">
              Notes
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <textarea [(ngModel)]="donation.metaDataChunk" formControlName="metaDataChunk">
            </textarea>
            <label for="metaDataChunk"
                   [class.active]="donation.metaDataChunk">
              Metadata
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <table width="100%">
              <tr>
                <td><h5>Upload Document</h5></td>
              </tr>
              <tr>
                <td><input #fileElement type="file" id="fileElement" (change)="fileChange($event)" placeholder="Upload File" accept=".pdf,.doc,.docx,.xls,.xlsx,.jpg,.jpeg"> {{uploading}} <button type="button" (click)="viewDocumentation(donation.document)">View</button></td>
              </tr>
              <tr>
                <td>File name: <input type="text" name="fileName" id="fileName" formControlName="fileName" [(ngModel)]="donation.documentDto.fileName"></td>
              </tr>
            </table>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
    </table>


    <p></p>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
