<p>
  Displaying {{ refDatas.length }} refDatas (results are limited to 20 records, refine search if you can't find what you are looking for)
</p>

<div class="row">
  <form class="col s12" [formGroup]="form" (ngSubmit)="search()">
    <table class="col s12" cellspacing="0" cellpadding="0">
      <tr>
        <td>
           <div class="input-field col s12">
            <mat-select placeholder="Type" [(ngModel)]="refData.type" formControlName="type" size="30">
                <mat-option *ngFor="let type of types" [value]="type.value">
                  {{ type.viewValue }}
                </mat-option>
          </mat-select>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <textarea [(ngModel)]="refData.metaDataChunk" formControlName="metaDataChunk">
            </textarea>
            <label for="metaDataChunk"
                   [class.active]="refData.metaDataChunk">
              Metadata
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="description" type="text" class="validate"
                   [(ngModel)]="refData.description" formControlName="description"
            >
            <label for="description"
                   [class.active]="refData.description">
              Description
            </label>
          </div>
        </td>
      </tr>
    </table>
    <p></p>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="validateForm()">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>

<table>
  <thead>
  <tr>
    <th data-field="name">Name</th>
    <th data-field="name">Type</th>    
    <th data-field="name">Edit</th>
    <th data-field="name">Delete</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let refData of refDatas">
      <td>{{ refData.description }}</td>
      <td>{{ refData.typeDescription }}</td>
      <td>
        <a [routerLink]="['/refdatas', refData.id]">
          <i class="material-icons">mode_edit</i>
        </a>
      </td>
      <td>
        <a (click)="deleteRefData(refData)" class="pointer">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light green"
     routerLink="/refdatas/new">
    <i class="material-icons">add</i>
  </a>
</div>
