<h5>Login</h5>
<div class="row">
  <form class="col s12" (ngSubmit)="loginUser()">
    <div class="row">
      <div class="input-field col s12">
        <input id="userName" type="text" class="validate"
               [(ngModel)]="login.userName"
               name="userName"
               required
        >
        <label for="userName"
               [class.active]="login.userName"
               data-error="User Name is required">
          User Name
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate"
               name="password"
               [(ngModel)]="login.password"
               required
        >
        <label for="password"
               [class.active]="login.password"
               data-error="Password is required">
          Password
        </label>
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit">
      Login<i class="material-icons right">send</i>
    </button>
  </form>
</div>