<h5>{{ title }}</h5>
<div class="row">
  <form class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <table cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <div class="input-field col s12">
            <md-input-container floatPlaceholder="never">
              <input mdInput [mdAutocomplete]="reactiveAuto" [formControl]="stateCtrl" [(ngModel)]="transaction.transactionType" 
              formControlName="transactionType" size="30" [class.invalid]="transactionTypeInvalid()" (blur)="transactionTypeTouched = true">
              <label for="transactionType"
                   [class.active]="transaction.transactionType">
              {{transactionType}} Type
            </label>
            <div *ngIf="transactionTypeInvalid()" style="color: red">Please select a value</div>
            </md-input-container>

            <md-autocomplete #reactiveAuto="mdAutocomplete" [displayWith]="displayFn">
              <md-option *ngFor="let state of filteredTransactionTypes | async" [value]="state" (onSelectionChange)="selectTransactionType(state)">
                <span>{{ state.description }}</span>
              </md-option>
            </md-autocomplete>

            
          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="input-field col s8">
            <input id="amount" type="text" class="validate"
                   [(ngModel)]="transaction.amount" formControlName="amount"
                   [class.invalid]="form.controls['amount'].touched && !form.controls['amount'].valid"
            >
            <label for="amount"
                   [class.active]="transaction.amount"
                   data-error="Amount needs to be numeric with zero or two decimal places">
              Amount
            </label>
          </div>
          <div class="col s4" id="paidDiv" name="paidDiv" style="display: none">
            <input id="paid" type="checkbox"
                   [(ngModel)]="transaction.paid" formControlName="paid"
            >
            <label for="paid">
              Paid
            </label>
          </div>                              
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>        
      </tr>      
      <tr>
        <td>
          <div class="col s12">
            <input id="recurring" type="checkbox" formControlName="recurring" (click)="showHideRecurring()">

            <label for="recurring">
              Recurring
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12" id="dueDateDiv">
            <md-input-container>
              <input mdInput [mdDatepicker]="dueDatePicker" [(ngModel)]="transaction.dueDateString" formControlName="dueDateString">
              <button mdSuffix [mdDatepickerToggle]="dueDatePicker"></button>
            </md-input-container>
            <md-datepicker #dueDatePicker></md-datepicker>

            <label for="dueDateString"
                   [class.active]="transaction.dueDateString"
                   data-error="Due Date is required">
              Due Date
            </label>
          </div>
          <div class="input-field col s12">

          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>          
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="notes" type="text" class="validate"
                   [(ngModel)]="transaction.notes" formControlName="notes">
            <label for="notes"
                   [class.active]="transaction.notes">
              Notes
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <textarea [(ngModel)]="transaction.metaDataChunk" formControlName="metaDataChunk">
            </textarea>
            <label for="metaDataChunk"
                   [class.active]="transaction.metaDataChunk">
              Metadata
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <table width="100%">
              <tr>
                <td width="20%"><input type="file" (change)="fileChange($event)" placeholder="Upload File" accept=".pdf,.doc,.docx"></td>
                <td width="50%">{{transaction.documentationFilePath}} <button type="button" (click)="viewDocumentation()">View</button></td>
              </tr>
            </table>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>      
      </table>
      <br/>
      <table id="recurringTable" style="display: none">
      <tr>
        <td>
          <div class="input-field col s12">
            <md-input-container floatPlaceholder="never">
              <input mdInput [mdAutocomplete]="reactiveAuto2" [formControl]="stateCtrl2" [(ngModel)]="transaction.recurringType" formControlName="recurringType"
              [class.invalid]="recurringTypeInvalid()" (blur)="recurringTypeTouched = true">
              <label for="recurringType"
                   [class.active]="transaction.recurringType">
              Recurring Type
            </label>
            <div *ngIf="recurringTypeInvalid()" style="color: red">Please select a value</div>
            </md-input-container>

            <md-autocomplete #reactiveAuto2="mdAutocomplete" [displayWith]="displayFn">
              <md-option *ngFor="let state of filteredRecurringTypes | async" [value]="state">
                <span>{{ state.description }}</span>
              </md-option>
            </md-autocomplete>            

            
          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <md-input-container>
              <input mdInput [mdDatepicker]="startDatePicker" [(ngModel)]="transaction.startDateString" formControlName="startDateString">
              <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
            </md-input-container>
            <md-datepicker #startDatePicker></md-datepicker>

            <label for="startDateString"
                   [class.active]="transaction.startDateString"
                   data-error="Start Date is required">
              Start Date
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
            <md-input-container>
              <input mdInput [mdDatepicker]="endDatePicker" [(ngModel)]="transaction.endDateString" formControlName="endDateString">
              <button mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
            </md-input-container>
            <md-datepicker #endDatePicker></md-datepicker>

            <label for="endDateString"
                   [class.active]="transaction.endDateString">
              End Date
            </label>
          </div>
        </td>
      </tr>
    </table>
    <p></p>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="validateForm()">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
