<nav class="background-color: blue">
  <div class="nav-wrapper" *ngIf="isAuthenticated()">
    <a routerLink="" class="brand-logo">Expense Manager</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
    </ul>    
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/rentalpayments/all" routerLinkActive="active">Rent</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/refdatas/all" routerLinkActive="active">Ref Data</a></li>
    </ul>    
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/recurring/active" routerLinkActive="active">Recurring</a></li>
    </ul>    
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/donations/all" routerLinkActive="active">Donations</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/documents/all" routerLinkActive="active">Documents</a></li>
    </ul>
    <ul *ngIf="hasNotifications()" id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/notifications/all" routerLinkActive="active" style="color: red"><b>Notifications</b></a></li>
    </ul>
    <ul *ngIf="!hasNotifications()" id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/notifications/all" routerLinkActive="active">Notifications</a></li>
    </ul>    
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/expenses/search" routerLinkActive="active">Search</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><span class="errMsg">{{getErrorMessage()}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
      </ul>    
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><span class="greeting">{{getUserGreeting()}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
    </ul>
  </div>
</nav>
