<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <table cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <div class="input-field col s12">
            <select id="expenseType" [(ngModel)]="recurringExpense.expenseType" formControlName="expenseType" materialize="material_select" [materializeSelectOptions]="expenseTypes">
              <option value="" disabled selected>Choose your option</option>
              <option *ngFor="let item of expenseTypes" [value]="item.value">{{item.description}}</option>
            </select>
            <label for="expenseType"
                   [class.active]="recurringExpense.expenseType">
              Expense Type
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="amount" type="text" class="validate"
                   [(ngModel)]="recurringExpense.amount" formControlName="amount"
                   [class.invalid]="form.controls['amount'].touched && !form.controls['amount'].valid"
            >
            <label for="amount"
                   [class.active]="recurringExpense.amount"
                   data-error="Amount needs to be numeric with zero or two decimal places">
              Amount
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>      
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="startDateString" type="text" class="validate"
                   [(ngModel)]="recurringExpense.startDateString" formControlName="startDateString"
                   [class.invalid]="form.controls['startDateString'].touched && !form.controls['startDateString'].valid"
            >
            <label for="startDateString"
                   [class.active]="recurringExpense.startDateString"
                   data-error="Start Date is required">
              Start Date
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
            <input id="endDateString" type="text" class="validate"
                   [(ngModel)]="recurringExpense.endDateString" formControlName="endDateString"
                   [class.invalid]="form.controls['endDateString'].touched && !form.controls['endDateString'].valid"
            >
            <label for="endDateString"
                   [class.active]="recurringExpense.endDateString">
              End Date
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <select id="recurringType" [(ngModel)]="recurringExpense.recurringType" formControlName="recurringType" materialize="material_select" [materializeSelectOptions]="recurringTypes">
              <option value="" disabled selected>Choose your option</option>
              <option *ngFor="let item of recurringTypes" [value]="item.value">{{item.description}}</option>
            </select>
            <label for="recurringType"
                   [class.active]="recurringExpense.recurringType">
              Recurring Type
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>      
    </table>
    <p></p>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
