<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <table cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <div class="input-field col s12">
            <select id="expenseType" [(ngModel)]="recurringExpense.expenseType" formControlName="expenseType" materialize="material_select" [materializeSelectOptions]="expenseTypes">
              <option value="" disabled selected>Choose your option</option>
              <option *ngFor="let item of expenseTypes" [value]="item.value">{{item.description}}</option>
            </select>
            <label for="expenseType"
                   [class.active]="expense.expenseType">
              Expense Type
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="amount" type="text" class="validate"
                   [(ngModel)]="expense.amount" formControlName="amount"
                   [class.invalid]="form.controls['amount'].touched && !form.controls['amount'].valid"
            >
            <label for="amount"
                   [class.active]="expense.amount"
                   data-error="Amount needs to be numeric with zero or two decimal places">
              Amount
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>      
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="dueDateString" type="text" class="validate"
                   [(ngModel)]="expense.dueDateString" formControlName="dueDateString"
                   [class.invalid]="form.controls['dueDateString'].touched && !form.controls['dueDateString'].valid"
            >
            <label for="dueDateString"
                   [class.active]="expense.dueDateString"
                   data-error="Due Date is required">
              Due Date
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="paid" type="checkbox"
                   [(ngModel)]="expense.paid" formControlName="paid"
            >
            <label for="paid" [class.active]="expense.paid">
              Paid
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>      
    </table>
    <p></p>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
