<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <table cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <div class="input-field col s12">
            <md-input-container floatPlaceholder="never">
              <input mdInput [mdAutocomplete]="reactiveAuto5" [formControl]="stateCtrl" [(ngModel)]="income.incomeType" formControlName="incomeType" size="30">
            </md-input-container>

            <md-autocomplete #reactiveAuto5="mdAutocomplete" [displayWith]="displayFn">
              <md-option *ngFor="let income of reactiveIncomeTypes | async" [value]="income">
                <span>{{ income.description }}</span>
              </md-option>
            </md-autocomplete>

            <label for="incomeType"
                   [class.active]="income.incomeType">
              Income Type
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="amount" type="text" class="validate"
                   [(ngModel)]="income.amount" formControlName="amount"
                   [class.invalid]="form.controls['amount'].touched && !form.controls['amount'].valid"
            >
            <label for="amount"
                   [class.active]="income.amount"
                   data-error="Amount needs to be numeric with zero or two decimal places">
              Amount
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="col s12">
            <input id="recurring" type="checkbox" formControlName="recurring" (click)="showHideRecurring()">

            <label for="recurring">
              Recurring
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12" id="dueDateDiv">
            <input id="dueDateString" type="text" class="validate"
                   [(ngModel)]="income.dueDateString" formControlName="dueDateString"
                   [class.invalid]="form.controls['dueDateString'].touched && !form.controls['dueDateString'].valid"
            >
            <label for="dueDateString"
                   [class.active]="income.dueDateString"
                   data-error="Due Date is required">
              Due Date(dd-MM-yyyy)
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="notes" type="text" class="validate"
                   [(ngModel)]="income.notes" formControlName="notes">
            <label for="notes"
                   [class.active]="income.notes">
              Notes
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>      
    </table>
    <br/>
      <table id="recurringTable" style="display: none">
      <tr>
        <td>
          <div class="input-field col s12">
            <md-input-container floatPlaceholder="never">
              <input mdInput [mdAutocomplete]="reactiveAuto2" [formControl]="stateCtrl2" [(ngModel)]="income.recurringType" formControlName="recurringType">
            </md-input-container>

            <md-autocomplete #reactiveAuto2="mdAutocomplete" [displayWith]="displayFn">
              <md-option *ngFor="let state of reactiveRecurringTypes | async" [value]="state">
                <span>{{ state.description }}</span>
              </md-option>
            </md-autocomplete>

            <label for="recurringType"
                   [class.active]="income.recurringType">
              Recurring Type
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="startDateString" type="text" class="validate"
                   [(ngModel)]="income.startDateString" formControlName="startDateString"
                   [class.invalid]="form.controls['startDateString'].touched && !form.controls['startDateString'].valid"
            >
            <label for="startDateString"
                   [class.active]="income.startDateString"
                   data-error="Start Date is required">
              Start Date
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
            <input id="endDateString" type="text" class="validate"
                   [(ngModel)]="income.endDateString" formControlName="endDateString"
                   [class.invalid]="form.controls['endDateString'].touched && !form.controls['endDateString'].valid"
            >
            <label for="endDateString"
                   [class.active]="income.endDateString">
              End Date
            </label>
          </div>
        </td>
      </tr>
    </table>
    <p></p>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="validateForm()">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
