<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <table cellspacing="0" cellpadding="0" width="80%">
      <tr>
        <td>
          <div class="input-field col s12">
            <select id="expenseType" [(ngModel)]="expense.expenseType" formControlName="expenseType" materialize="material_select" [materializeSelectOptions]="expenseTypes">
              <option value="" disabled selected>Choose your option</option>
              <option *ngFor="let item of expenseTypes" [value]="item.value">{{item.description}}</option>
            </select>
            <label for="expenseType"
                   [class.active]="expense.expenseType">
              Expense Type
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="input-field col s8">
            <input id="amount" type="text" class="validate"
                   [(ngModel)]="expense.amount" formControlName="amount"
                   [class.invalid]="form.controls['amount'].touched && !form.controls['amount'].valid"
            >
            <label for="amount"
                   [class.active]="expense.amount"
                   data-error="Amount needs to be numeric with zero or two decimal places">
              Amount
            </label>
          </div>
          <div class="input-field col s4">
            <input id="paid" type="checkbox"
                   [(ngModel)]="expense.paid" formControlName="paid"
            >
            <label for="paid">
              Paid
            </label>
          </div>                              
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>        
      </tr>      
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="recurring" type="checkbox" formControlName="recurring" (click)="showHideRecurring()"
            >
            <label for="recurring">
              Recurring
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12" id="dueDateDiv">
            <input id="dueDateString" type="text" class="validate"
                   [(ngModel)]="expense.dueDateString" formControlName="dueDateString"
                   [class.invalid]="form.controls['dueDateString'].touched && !form.controls['dueDateString'].valid"
            >
            <label for="dueDateString"
                   [class.active]="expense.dueDateString"
                   data-error="Due Date is required">
              Due Date(dd-MM-yyyy)
            </label>
          </div>
          <div class="input-field col s12">

          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>          
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="notes" type="text" class="validate"
                   [(ngModel)]="expense.notes" formControlName="notes">
            <label for="notes"
                   [class.active]="expense.notes">
              Notes
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      </table>
      <br/>
      <table id="recurringTable" style="display: none">
      <tr>
        <td>
          <div class="input-field col s12">
            <select id="recurringTypeId" [(ngModel)]="expense.recurringTypeId" formControlName="recurringTypeId" materialize="material_select" [materializeSelectOptions]="recurringTypes">
              <option value="" disabled selected>Choose your option</option>
              <option *ngFor="let item of recurringTypes" [value]="item.value">{{item.description}}</option>
            </select>
            <label for="recurringType"
                   [class.active]="expense.recurringTypeId">
              Recurring Type
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
          </div>
        </td>        
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <input id="startDateString" type="text" class="validate"
                   [(ngModel)]="expense.startDateString" formControlName="startDateString"
                   [class.invalid]="form.controls['startDateString'].touched && !form.controls['startDateString'].valid"
            >
            <label for="startDateString"
                   [class.active]="expense.startDateString"
                   data-error="Start Date is required">
              Start Date
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
            <input id="endDateString" type="text" class="validate"
                   [(ngModel)]="expense.endDateString" formControlName="endDateString"
                   [class.invalid]="form.controls['endDateString'].touched && !form.controls['endDateString'].valid"
            >
            <label for="endDateString"
                   [class.active]="expense.endDateString">
              End Date
            </label>
          </div>
        </td>
      </tr>
    </table>
    <p></p>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="validateForm()">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
