<div class="row">
  <form class="col s12" [formGroup]="form" (ngSubmit)="search()">
    <table class="col s12" cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <div class="input-field col s12">
            <md-input-container floatPlaceholder="never">
              <input mdInput [mdAutocomplete]="reactiveAuto" [formControl]="stateCtrl" [(ngModel)]="donationSearch.cause"
              formControlName="cause" size="30">
              <label for="cause"
                   [class.active]="donationSearch.cause">
                Cause
              </label>
            </md-input-container>

            <md-autocomplete #reactiveAuto="mdAutocomplete" [displayWith]="displayFn">
              <md-option *ngFor="let causeVal of filteredCauses | async" [value]="causeVal">
                <span>{{ causeVal.description }}</span>
              </md-option>
            </md-autocomplete>

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s12">
            <textarea [(ngModel)]="donationSearch.metaDataChunk" formControlName="metaDataChunk">
            </textarea>
            <label for="metaDataChunk"
                   [class.active]="donationSearch.metaDataChunk">
              Metadata
            </label>
          </div>
        </td>
        <td>
          <div class="input-field col s12">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-field col s4">
            <md-input-container>
              <input mdInput [mdDatepicker]="startDatePicker" [(ngModel)]="donationSearch.startDate" formControlName="startDate">
              <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
            </md-input-container>
            <md-datepicker #startDatePicker></md-datepicker>

            <label for="startDate"
                  [class.active]="donationSearch.startDate">
              Start Date
            </label>
          </div>
          <div class="input-field col s4">
            <md-input-container>
              <input mdInput [mdDatepicker]="endDatePicker" [(ngModel)]="donationSearch.endDate" formControlName="endDate">
              <button mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
            </md-input-container>
            <md-datepicker #endDatePicker></md-datepicker>

            <label for="endDate"
                  [class.active]="donationSearch.endDate">
              End Date
            </label>
          </div>
        </td>
      </tr>
    </table>
    <p></p>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="validateForm()">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>

<p>
  Displaying {{ donations.length }} donations (results are limited to 20 records, refine search if you can't find what you are looking for)
</p>

<table>
  <thead>
  <tr>
    <th data-field="name">Cause</th>
    <th data-field="name">Description</th>
    <th data-field="name">Due Date</th>
    <th data-field="name">View</th>
    <th data-field="name">Edit</th>
    <th data-field="name">Delete</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let donation of donations">
      <td>{{ donation.cause.description }}</td>
      <td>{{ donation.description }}</td>
      <td>{{ donation.dueDateString }}</td>
      <td>
          <a *ngIf="donation.documentDto" (click)="viewDocumentation(donation.documentDto)" class="pointer">
            <i class="material-icons">open_in_browser</i>
          </a>
      </td>
      <td>
        <a [routerLink]="['/donations', donation.id]">
          <i class="material-icons">mode_edit</i>
        </a>
      </td>
      <td>
        <a (click)="deleteDonation(donation)" class="pointer">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light green"
     routerLink="/donations/new">
    <i class="material-icons">add</i>
  </a>
</div>
