<form [formGroup]="form" (submit)="gotoWeek()">
<table width="100%">
  <tr>
    <td width="50%">Displaying {{ expenses.length }} expenses for week beginning {{thisWeek}}.</td>
    <td width="15%"><a [routerLink]="['/', previousWeek]"><i class="material-icons">navigate_before</i>Prev</a></td>
    <td width="15%"><a [routerLink]="['/', nextWeek]">Next<i class="material-icons">navigate_next</i></a></td>
    <td width="20%">
      <md-input-container>
        <input mdInput [mdDatepicker]="gotoDatePicker" [(ngModel)]="dateString" formControlName="dateString" id="dateString" (ngModelChange)="gotoWeek()">
        <button mdSuffix [mdDatepickerToggle]="gotoDatePicker"></button>
      </md-input-container>
      <md-datepicker #gotoDatePicker></md-datepicker>
    </td>
  </tr>
</table>
</form>

<table width="100%">
  <tr>
    <td style="vertical-align:top" width="40%">
      <b>Incomes</b>
      <table width="100%">
        <thead>
        <tr>
          <th data-field="name">Name</th>
          <th data-field="name">Amount</th>
          <th data-field="name">Due Date</th>
          <th data-field="name">Notes</th>
          <th data-field="name">View</th>
          <th data-field="name"></th>
          <th data-field="name"></th>
        </tr>
        </thead>

        <tbody>
          <tr *ngFor="let income of incomes">
            <td>{{ income.transactionType.description }}</td>
            <td>{{ income.amount }}</td>
            <td>{{ income.dueDateString }}</td>
            <td>{{ income.notes }}</td>
            <td>
                <a *ngIf="income.documentationFilePath" (click)="viewDocumentation(income.id, 'incomes')" class="pointer">
                  <i class="material-icons">ic_open_in_browser</i>
                </a>
            </td>
            <td>
              <a [routerLink]="['/incomes', income.id]">
                <i class="material-icons">mode_edit</i>
              </a>
            </td>
            <td>
              <a (click)="deleteIncome(income)" class="pointer">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
          <tr>
            <td colspan=5>
              <div class="fixed-action-btn" style="bottom: 45px; left: 24px;">
                <a class="btn-floating btn-large waves-effect waves-light green"
                  routerLink="/incomes/new">
                  <i class="material-icons">add</i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><b>Income Total:</b></td><td colspan="3">{{ incomeTotal }}</td>
          </tr>  
        </tfoot>
      </table>
    </td>    
    <td style="vertical-align:top" width="60%">
      <b>Expenses</b>
      <table width="100%">
        <thead>
        <tr>
          <th data-field="name" wisth="30%">Name</th>
          <th data-field="name" wisth="10%">Amount</th>
          <th data-field="name" wisth="10%">Due Date</th>
          <th data-field="name" wisth="5%">Paid</th>
          <th data-field="name" wisth="30%">Notes</th>
          <th data-field="name" wisth="5%">View</th>
          <th data-field="name" width="5%"></th>
          <th data-field="name" wisth="5%"></th>
        </tr>
        </thead>

        <tbody>
          <tr *ngFor="let expense of expenses">
            <td>{{ expense.transactionType.description }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.dueDateString }}</td>
            <td><a *ngIf="!expense.paid" (click)="payExpense(expense)" class="pointer">
                  <i class="material-icons">check_box_outline_blank</i>
                </a>
                <a *ngIf="expense.paid" (click)="unPayExpense(expense)" class="pointer">
                  <i class="material-icons">check_box</i>
                </a>
                </td>
            <td>{{ expense.notes }}</td>
            <td>
                <a *ngIf="expense.documentationFilePath" (click)="viewDocumentation(expense.id, 'expenses')" class="pointer">
                  <i class="material-icons">open_in_browser</i>
                </a>
            </td>
            <td>
              <a [routerLink]="['/expenses', expense.id]">
                <i class="material-icons">mode_edit</i>
              </a>
            </td>
            <td>
              <a (click)="deleteExpense(expense)" class="pointer">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large waves-effect waves-light green"
                  routerLink="/expenses/new">
                  <i class="material-icons">add</i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><b>Expense Total:</b></td><td colspan="3">{{ expenseTotal }}</td>
          </tr>
        </tfoot>
      </table>
    </td>
  </tr>
  <tr>
    <td><b>Total:</b>&nbsp;&nbsp;&nbsp;{{ difference }}</td><td></td>
  </tr>    
  <tr>
    <td></td>
    <td>
      <table id="unpaidExpensesTable" style="display: none" width="100%">
        <tr>
          <td style="vertical-align:top">
            <b>Unpaid Expenses from previous weeks</b>
            <table>
              <thead>
              <tr>
                <th data-field="name">Name</th>
                <th data-field="name">Amount</th>
                <th data-field="name">Due Date</th>
                <th data-field="name">Paid</th>
                <th data-field="name">Notes</th>
                <th data-field="name">Edit</th>
                <th data-field="name">Delete</th>
              </tr>
              </thead>

              <tbody>
                <tr *ngFor="let expense of unpaidExpenses">
                  <td>{{ expense.transactionType.description }}</td>
                  <td>{{ expense.amount }}</td>
                  <td>{{ expense.dueDateString }}</td>
                  <td>{{ expense.paid ? "PAID" : "" }}</td>
                  <td>{{ expense.notes }}</td>
                  <td>
                    <a [routerLink]="['/expenses', expense.id]">
                      <i class="material-icons">mode_edit</i>
                    </a>
                  </td>
                  <td>
                    <a (click)="deleteExpense(expense)" class="pointer">
                      <i class="material-icons">delete</i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                      <a class="btn-floating btn-large waves-effect waves-light green"
                        routerLink="/expenses/new">
                        <i class="material-icons">add</i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>                
              <tfoot>
                  <tr>
                    <td><b>Expense Total:</b></td><td colspan="3">{{ unpaidExpenseTotal }}</td>
                  </tr>
              </tfoot>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>