<form (submit)="gotoWeek()">
<table width="50%">
  <tr>
    <td width="50%">Displaying {{ expenses.length }} expenses for week beginning {{thisWeek}}.</td>
    <td width="15%"><a [routerLink]="['/', previousWeek]"><i class="material-icons">navigate_before</i>Prev</a></td>
    <td width="15%"><a [routerLink]="['/', nextWeek]">Next<i class="material-icons">navigate_next</i></a></td>
    <td width="20%"><input id="dateString" name="dateString" size="15" type="text" class="validate" (blur)="gotoWeek()" /></td>
  </tr>
</table>
</form>

<table>
  <tr>
    <td style="vertical-align:top">
      <b>Incomes</b>
      <table>
        <thead>
        <tr>
          <th data-field="name">Name</th>
          <th data-field="name">Amount</th>
          <th data-field="name">Due Date</th>
          <th data-field="name">Notes</th>
          <th data-field="name">Edit</th>
          <th data-field="name">Delete</th>
        </tr>
        </thead>

        <tbody>
          <tr *ngFor="let income of incomes">
            <td>{{ income.incomeTypeDescription }}</td>
            <td>{{ income.amount }}</td>
            <td>{{ income.dueDateString }}</td>
            <td>{{ income.notes }}</td>
            <td>
              <a [routerLink]="['/incomes', income.id]">
                <i class="material-icons">mode_edit</i>
              </a>
            </td>
            <td>
              <a (click)="deleteIncome(income)" class="pointer">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
          <tr>
            <td colspan=5>
              <div class="fixed-action-btn" style="bottom: 45px; left: 24px;">
                <a class="btn-floating btn-large waves-effect waves-light green"
                  routerLink="/incomes/new">
                  <i class="material-icons">add</i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><b>Income Total:</b></td><td colspan="3">{{ incomeTotal }}</td>
          </tr>  
        </tfoot>
      </table>
    </td>    
    <td style="vertical-align:top">
      <b>Expenses</b>
      <table>
        <thead>
        <tr>
          <th data-field="name">Name</th>
          <th data-field="name">Amount</th>
          <th data-field="name">Due Date</th>
          <th data-field="name">Paid</th>
          <th data-field="name">Notes</th>
          <th data-field="name">Edit</th>
          <th data-field="name">Delete</th>
        </tr>
        </thead>

        <tbody>
          <tr *ngFor="let expense of expenses">
            <td>{{ expense.expenseTypeDescription }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.dueDateString }}</td>
            <td>{{ expense.paid ? "PAID" : "" }}</td>
            <td>{{ expense.notes }}</td>
            <td>
              <a [routerLink]="['/expenses', expense.id]">
                <i class="material-icons">mode_edit</i>
              </a>
            </td>
            <td>
              <a (click)="deleteExpense(expense)" class="pointer">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large waves-effect waves-light green"
                  routerLink="/expenses/new">
                  <i class="material-icons">add</i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><b>Expense Total:</b></td><td colspan="3">{{ expenseTotal }}</td>
          </tr>
        </tfoot>
      </table>
    </td>
  </tr>
  <tr>
    <td><b>Total:</b>&nbsp;&nbsp;&nbsp;{{ difference }}</td><td></td>
  </tr>    
  <tr>
    <td></td>
    <td>
      <table id="unpaidExpensesTable" style="display: none" width="100%">
        <tr>
          <td style="vertical-align:top">
            <b>Unpaid Expenses from previous weeks</b>
            <table>
              <thead>
              <tr>
                <th data-field="name">Name</th>
                <th data-field="name">Amount</th>
                <th data-field="name">Due Date</th>
                <th data-field="name">Paid</th>
                <th data-field="name">Notes</th>
                <th data-field="name">Edit</th>
                <th data-field="name">Delete</th>
              </tr>
              </thead>

              <tbody>
                <tr *ngFor="let expense of unpaidExpenses">
                  <td>{{ expense.expenseTypeDescription }}</td>
                  <td>{{ expense.amount }}</td>
                  <td>{{ expense.dueDateString }}</td>
                  <td>{{ expense.paid ? "PAID" : "" }}</td>
                  <td>{{ expense.notes }}</td>
                  <td>
                    <a [routerLink]="['/expenses', expense.id]">
                      <i class="material-icons">mode_edit</i>
                    </a>
                  </td>
                  <td>
                    <a (click)="deleteExpense(expense)" class="pointer">
                      <i class="material-icons">delete</i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                      <a class="btn-floating btn-large waves-effect waves-light green"
                        routerLink="/expenses/new">
                        <i class="material-icons">add</i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>                
              <tfoot>
                  <tr>
                    <td><b>Expense Total:</b></td><td colspan="3">{{ unpaidExpenseTotal }}</td>
                  </tr>
              </tfoot>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>