<table>
  <tr>
    <td style="vertical-align:top">
      <b>Income</b>
      <table>
        <thead>
        <tr>
          <th data-field="name">Name</th>
          <th data-field="name">Amount</th>
          <th data-field="name">Notes</th>
          <th data-field="name">Recurring Type</th>
          <th data-field="name">Start Date</th>
          <th data-field="name">End Date</th>
          <th data-field="name">Edit</th>
          <th data-field="name">Delete</th>
        </tr>
        </thead>

        <tbody>
          <tr *ngFor="let income of incomes">
            <td>{{ income.transactionType.description }}</td>
            <td>{{ income.amount }}</td>
            <td>{{ income.notes }}</td>
            <td>{{ income.recurringType.description }}</td>
            <td>{{ income.startDateString }}</td>
            <td>{{ income.endDateString }}</td>
            <td>
              <a [routerLink]="['/incomes', income.id]">
                <i class="material-icons">mode_edit</i>
              </a>
            </td>
            <td>
              <a (click)="deleteIncome(income)" class="pointer">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>    
    <td style="vertical-align:top">
      <b>Expense</b>
      <table>
        <thead>
        <tr>
          <th data-field="name">Name</th>
          <th data-field="name">Amount</th>
          <th data-field="name">Notes</th>
          <th data-field="name">Recurring Type</th>
          <th data-field="name">Start Date</th>
          <th data-field="name">End Date</th>
          <th data-field="name">Edit</th>
          <th data-field="name">Delete</th>
        </tr>
        </thead>

        <tbody>
          <tr *ngFor="let expense of expenses">
            <td>{{ expense.transactionType.description }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.notes }}</td>
            <td>{{ expense.recurringType.description }}</td>
            <td>{{ expense.startDateString }}</td>
            <td>{{ expense.endDateString }}</td>
            <td>
              <a [routerLink]="['/expenses', expense.id]">
                <i class="material-icons">mode_edit</i>
              </a>
            </td>
            <td>
              <a (click)="deleteExpense(expense)" class="pointer">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>