<table>
  <tbody>
    <tr *ngFor="let document of documents">
      <td>{{ document.fileName }}</td>
      <td>
          <a *ngIf="!document.folder" (click)="viewDocumentation(document.filePath)" class="pointer">
            <i class="material-icons">open_in_browser</i>
          </a>
          <a *ngIf="document.folder" (click)="openFolder(document.filePath)" class="pointer">
            <i class="material-icons">folder_open</i>
          </a>          
      </td>
    </tr>
  </tbody>
</table>
