<table cellpadding="0" cellspacing="0">
  <tr>
    <td width="40%">
      <table>
        <tr>
          <td width="5%">
            <a *ngIf="documentsService.currentFolderPath !== '/docs/expenseManager/filofax'" (click)="openFolder('/docs/expenseManager/filofax')" class="pointer">
              <i class="material-icons">home</i>
            </a>
          </td>
          <td width="5%">
            <a *ngIf="documentsService.currentFolderPath !== '/docs/expenseManager/filofax'" (click)="openParentFolder()" class="pointer">
              <i class="material-icons">arrow_back</i>
            </a>
          </td>
          <td width="30%"><h5>{{ getDirectory() }}</h5></td>
        </tr>
      </table>
    </td>
    <td width="60%">
    </td>
  </tr>
  <tr>
    <td style="vertical-align:top">
      <table>
        <tbody>
          <tr *ngFor="let document of documents">
            <td *ngIf="!document.isFolder" width="45%" class="fileClass">{{ document.fileName }}</td>
            <td *ngIf="document.isFolder" width="45%" class="folderClass">{{ document.fileName }}</td>
            <td width="15%">
            </td>
            <td width="7%">
                <a *ngIf="!document.isFolder" (click)="viewDocumentation(document)" class="pointer">
                  <i class="material-icons">open_in_browser</i>
                </a>
                <a *ngIf="document.isFolder" (click)="openFolder(document.folderPath + '/' + document.fileName)" class="pointer">
                  <i class="material-icons">folder_open</i>
                </a>          
            </td>
            <td width="7%">
              <a (click)="editDocument(document)" class="pointer">
                <i class="material-icons">mode_edit</i>
              </a>
            </td>
            <td width="10%">
              <a (click)="deleteDocument(document)" class="pointer">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn waves-effect waves-light" type="button" (click)="move()">
                Move<i class="material-icons right">send</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
    <td style="vertical-align:top">
      <div class="row">
        <table>
          <tr>
            <td>
              <form class="col s12" [formGroup]="directoryForm">
                <table>
                  <tr>
                    <td><h5>{{directoryAction}} Directory</h5></td>
                  </tr>
                  <tr>
                    <td>
                        <div class="input-field col s12">
                            <input type="text" formControlName="fileName">
                            <label for="fileName"
                                  [class.active]="fileName">
                              Directory
                            </label>
                          </div>
                    </td>
                  </tr>
                  <tr>
                    <td>directoryMetaDataChunk
                      <div class="input-field col s12">
                        <textarea formControlName="metaDataChunk">
                        </textarea>
                        <label for="metaDataChunk"
                              [class.active]="metaDataChunk">
                          Metadata
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button class="btn waves-effect waves-light" type="button" (click)="actionDirectory(this.form.fileName, this.form.metaDataChunk)">
                        {{directoryAction}}<i class="material-icons right">send</i>
                      </button>
                    </td>
                  </tr>
                </table>
              </form>              
            </td>
          </tr>            
          <tr>
            <td><h5>Upload Document</h5></td>
          </tr>
          <tr>
            <td><input #fileElement type="file" id="fileElement" (change)="fileChange($event, documentsService.currentFolderPath)" placeholder="Upload File" accept=".pdf,.doc,.docx,.xls,.xlsx,.jpg,.jpeg"> {{uploading}}</td>
          </tr>
          <tr>
            <td>
              <form class="col s12" [formGroup]="fileForm" (ngSubmit)="saveFile(this.form.fileName, this.form.metaDataChunk)">
                <table>
                  <tr>
                    <td>File name: <input type="text" formControlName="fileName"></td>
                  </tr>                  
                  <tr>
                    <td>
                      <div class="input-field col s12">
                        <textarea formControlName="metaDataChunk">
                        </textarea>
                        <label for="metaDataChunk"
                              [class.active]="metaDataChunk">
                          Metadata
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button class="btn waves-effect waves-light" type="submit">
                        Submit<i class="material-icons right">send</i>
                      </button>
                    </td>
                  </tr>            
                </table>
             </form>
            </td>
          </tr>
        </table>
      </div>
    </td>    
  </tr>
</table>