<table cellpadding="0" cellspacing="0">
  <tr>
    <td width="40%">
      <table>
        <tr>
          <td width="5%">
            <a *ngIf="documentsService.currentFolderPath !== '/docs/expenseManager/filofax'" (click)="openFolder('/docs/expenseManager/filofax')" class="pointer">
              <i class="material-icons">home</i>
            </a>
          </td>
          <td width="5%">
            <a *ngIf="documentsService.currentFolderPath !== '/docs/expenseManager/filofax'" (click)="openParentFolder()" class="pointer">
              <i class="material-icons">arrow_back</i>
            </a>
          </td>
          <td width="30%"><h5>{{ getDirectory() }}</h5></td>
        </tr>
      </table>
    </td>
    <td width="60%">
    </td>
  </tr>
  <tr>
      <td><h5>Move Files/Folders</h5></td>
    </tr>
  <tr>
    <td style="vertical-align:top">
      <table>
        <tbody>
          <tr *ngFor="let document of documents">
            <td *ngIf="!document.isFolder" width="70%" class="fileClass">{{ document.fileName }}</td>
            <td *ngIf="document.isFolder" width="70%" class="folderClass">{{ document.fileName }}</td>
            <td>
                <a *ngIf="!readyToMove(document.id)" (click)="addFileId(document.id)" class="pointer">
                  <i class="material-icons">check_box_outline_blank</i>
                </a>
                <a *ngIf="readyToMove(document.id)" (click)="removeFileId(document.id)" class="pointer">
                    <i class="material-icons">check_box</i>
                  </a>
            </td>
          </tr>
          <tr>
            <td>
                <div class="input-field col s12">
                  <input type="text" name="directoryTo" id="directoryTo" [(ngModel)]="documentMove.directoryTo">
                  <label for="directoryTo">
                    Move to:
                  </label>
                </div>
            </td>
          </tr>
          <tr>
              <td>
                <button class="btn waves-effect waves-light" (click)="moveFiles()">
                  Move<i class="material-icons right">send</i>
                </button>
              </td>
            </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>