<table>
  <thead>
  <tr>
    <th data-field="name">Expense</th>
    <th data-field="name">Message</th>
    <th data-field="name">Due Date</th>
    <th data-field="name">Created</th>
    <th data-field="name">Link</th>
    <th data-field="name">Mark Read</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let notification of notifications">
      <td *ngIf="notification.expense.transactionType">{{ notification.expense.transactionType.description }}</td>
      <td *ngIf="!notification.expense.transactionType">N/A</td>
      <td>{{ notification.message }}</td>
      <td *ngIf="notification.expense">{{ notification.expense.dueDateString }}</td>
      <td *ngIf="!notification.expense">N/A</td>
      <td>{{ notification.createdDateString }}</td>
      <td *ngIf="notification.expense"><a [routerLink]="['/expenses', notification.expense.id]" routerLinkActive="active">Edit</a></td>
      <td *ngIf="!notification.expense"></td>
      <td>
        <a *ngIf="!notification.read" (click)="markRead(notification)" class="pointer">
          <i class="material-icons">check_box_outline_blank</i>
        </a>
        <a *ngIf="notification.read" (click)="markUnRead(notification)" class="pointer">
          <i class="material-icons">check_box</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
